
<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Enigma 3 </h1>
      <br>
      <form action="" method="post">

        <p></p><input type="password" placeholder="Psswd Enigma" name="password_en">
        <p></p><input class="btn btn-default" type="submit" name='action' value="Submit">
        <input class="btn btn-default" type="submit" name='action' value="tabella">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>


<head><title>Enigma 1</title></head>
        <form action="" method="post">
